body{
    background-color: blueviolet;   
    background-repeat: no-repeat;
background-size: cover;
background-image: url(https://img.freepik.com/premium-photo/painting-sea-with-full-moon-background_1051578-161984.jpg);
background-attachment: fixed;
}